#dropdown-menu-contents {
    background-color: maroon;
}

#navigation-toggle {
    position : absolute;
    left : 160px;
    background : rgba(3,159,244,.95);
    color : white;
    text-decoration : none;
    padding : 20px;
}

div div div img {
    max-width: 100%;
    max-height: 100%;
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.template-structure {
    margin-bottom:20px;
}

.wally-pic-box {
    float: none;
    display: table-cell;
    vertical-align: bottom;
    height:inherit;
}

.wally-speech-box {
    float: none;
    display: table-cell;
    background-color: white;
    vertical-align: bottom;
    border:3px solid black;
}

.right-buttons {
    float: none;
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
}

.username {
    font-weight: bolder;
}

.sidebar-toggle {
    text-align: left;
}

.padding {
    padding: 10px;
}

.lesson {
    color: #3498db;
}

.a[data-ng-disabled] {
    pointer-events: none;
}

.emphasise {
    font-weight: bold;
    color: navy;
}

.list-group-item {
    color: ghostwhite;
}

.fa {
    margin-left: 10px;
}

.fa-lock {
    color: crimson;
}

.fa-unlock-alt {
    color: green;
}

.bold {
    font-weight: bold;
}

.crimson {
    color: crimson;
}

.glyphicon-menu-hamburger {
    font-size: 30pt;
    color: #0d1318;
}

#introduction {
    padding: 5px;
    background-image: url("https://github.com/alexmtmorgan/hcs4-assessed-exercise/blob/master/app/img/background.png?raw=true");
    background-size: auto 500px;
    background-color: dimgrey;
    background-position: bottom;
    background-repeat: repeat-x;
}

#level_1 {
    padding: 5px;
    background-image: url("https://github.com/alexmtmorgan/hcs4-assessed-exercise/blob/master/app/img/rockets.png?raw=true");
    background-size: auto 500px;
    background-repeat: repeat-x;
    background-color: #afded4;
    background-position: right bottom;
}


#level_2 {
    padding: 5px;
    background-image: url("https://github.com/alexmtmorgan/hcs4-assessed-exercise/blob/master/app/img/nuclear.png?raw=true");
    background-size: auto 800px;
    background-color: #95a5a6;
    background-repeat: repeat-x;
    background-position: bottom;
}

#level_3 {
    padding: 5px;
    background-image: url("https://github.com/alexmtmorgan/hcs4-assessed-exercise/blob/gh-pages/app/img/space.png?raw=true");
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #1a242f;
 }

#level_4 {
      padding: 5px;
      background-image: url("");
      background-size: 100% 500px;
      background-repeat: no-repeat;

  }

#dashboard {
    padding: 5px;
    background-image: url("");
    background-size: 100% 500px;
    background-repeat: no-repeat;

}