<div class="container-fluid" ng-controller="LevelTwoCtrl as Two" id="level_2">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sidebar-toggle">
            <a href="#/level2" id="menu-toggle"
               ng-click="toggleSidebar()">
                <span class="glyphicon glyphicon-menu-hamburger"
                      uib-tooltip="Toggle sidebar menu"
                      tooltip-placement="right"></span>
            </a>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-center">
            <div uib-collapse="hideLessons">
                <div class="well well-sm">Never use your name in your password, that’s unsafe!</div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 right-buttons">
            <button id="lessons" class="btn btn-danger fa fa-info-circle"
                    ng-click="hideLessons = !hideLessons"> Lessons</button>
        </div>
    </div>
    <div class="row template-structure">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 wally-pic-box">
            <img src="http://images.clipshrine.com/download/downloadsvg/man-explaining-presenting-13888-svg.svg"
                 class="flip-horizontal">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 wally-speech-box padding">
            <div>
                <div>
                    <h2>Gosh golly darn, great work <span class="username">{{Two.user_name}}</span>!</h2>
                    <p>Silly Geoff made his password his name, that made it super easy to guess.
                        <span class="lesson">Never use your name in your password, that’s unsafe!</span></p>
                </div>
                <div ng-show="Two.partOneCompleted()">
                    <p>Great job getting us back into the system, the rockets are now in safe hands.
                        However, we need your help again! It appears Geoff has taken control of the nuclear
                        power stations, can you find the password this time?</p>
                </div>
                <div ng-show="Two.partTwoCompleted()">
                    <p>Geoff left some of his details in the rocket system. We found his Facebook profile,
                        can you use these details to crack the password?</p>

                    <img src="https://github.com/alexmtmorgan/hcs4-assessed-exercise/blob/gh-pages/app/img/geoffFacebook.png?raw=true"
                         class="fit-image">
                </div>

            </div>
            <div ng-show="Two.partTwoCompleted()">
                <h1>{{Two.geoff.password}}
                <span ng-show="Two.continueDisabled"
                      class="fa fa-lock"></span>
                    <span ng-show="!Two.continueDisabled"
                          class="fa fa-unlock-alt"></span>
                </h1>
                <br>
                <button class="btn btn-default" id="geoff"
                        data-ng-disabled="Two.geoff.guessedGeoff || !Two.continueDisabled"
                        ng-click="Two.wrongGuess('Geoff')">Geoff</button>
                <button class="btn btn-default" id="mittens"
                        data-ng-disabled="Two.geoff.guessedMittens || !Two.continueDisabled"
                        ng-click="Two.guessMittens()">Mittens</button>
                <button class="btn btn-default" id="aria"
                        data-ng-disabled="Two.geoff.guessedAria || !Two.continueDisabled"
                        ng-click="Two.wrongGuess('Aria')">Aria</button>
                <button class="btn btn-default" id="correctdate"
                        data-ng-disabled="Two.geoff.guessedDate || !Two.continueDisabled"
                        ng-click="Two.guessDate()">01 / 01 / 2000</button>
                <button class="btn btn-default" id="wrongdate"
                        data-ng-disabled="Two.geoff.guessedWrongDate || !Two.continueDisabled"
                        ng-click="Two.wrongGuess('Date')">11 / 02 / 1950</button>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 right-buttons">
            <button class="btn btn-default" id="continue"
                    ng-click="Two.continue()"
                    data-ng-disabled="Two.continueDisabled">Continue</button>
        </div>
    </div>
</div>