<div class="container-fluid" ng-controller="LevelFourCtrl as Four" id="level_4">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sidebar-toggle">
            <a href="#/level4" id="menu-toggle"
               ng-click="toggleSidebar()">
                <span class="glyphicon glyphicon-menu-hamburger"
                      uib-tooltip="Toggle sidebar menu"
                      tooltip-placement="right"></span>
            </a>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-center">
            <div uib-collapse="hideLessons">
                <div class="well well-sm">Never use your name in your password, that’s unsafe</div>
                <div class="well well-sm">Don't use information in your passwords that can be found online</div>
                <div class="well well-sm">Replacing letters with numbers makes passwords harder to guess</div>
                <div class="well well-sm">Using a combination of <b>lowercase</b> and <b>uppercase</b> letters
                    makes passwords a lot harder to guess</div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 right-buttons">
            <button id="lessons" class="btn btn-danger fa fa-info-circle"
                    ng-click="hideLessons = !hideLessons"> Lessons</button>
        </div>
    </div>
    <div class="row template-structure">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 wally-pic-box">
            <img src="http://images.clipshrine.com/download/downloadsvg/man-explaining-presenting-13888-svg.svg"
                 class="fit-image flip-horizontal">
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 wally-speech-box padding">
            <div>
                <div>
                    <h2>Holy moly, <span class="username">{{Four.user_name}}</span>,
                        that was fab-u-lous!</h2>
                    <p>
                        <span class="lesson">
                            Geoff made it a lot harder to guess his password by using
                            a combination of uppercase and lowercase characters, as well as numbers.
                            If he'd wanted to make it even harder to guess, he should've used special characters like:
                            '%', '&', '£', '_' and '@'
                        </span>.
                    </p>
                    <p>
                        We’ve finally regained control of everything thanks to you,
                        <span class="username">{{Four.user_name}}</span>,
                        but Geoff knows we haven’t changed the master password yet. Can you create a
                        strong and safe password using the knowledge you’ve gained so far? Remember,
                        Geoff knows your name!
                    </p>
                </div>
                <div ng-show="Four.partOneCompleted()">
                    <p>
                        <span class="text-right">
                        <span style="color: crimson">Do not type a password you have used before!</span>
                    </span>
                    </p>

                    <form name="passwordForm" ng-submit="Four.submitPassword()" id="passwordForm">
                        <label for=password_field>Password:</label>
                        <input id="password_field" name="password_field"
                               type="{{Four.inputType}}" required
                               ng-focus="Four.gotoAnchor()"
                               ng-model="Four.password" class="form-control"
                               placeholder="Type master password here..."
                               ng-change="Four.checkPattern()"/>
                        <!--ng-minlength="8" ng-maxlength="20"-->
                        <!--ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*(_|[^\w]))/"-->

                        <br>

                        <label for="password_confirm">Confirm password:</label>
                        <input id="password_confirm" name="password_confirm"
                               type="{{Four.inputType}}" required
                               ng-focus="Four.gotoAnchor()"
                               ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*(_|[^\w]))/"
                               ng-model="Four.password_c" class="form-control"
                               placeholder="Confirm master password here...">

                        <br>

                        <label for="checkbox">Show password</label>
                        <input type="checkbox" id="checkbox"
                               ng-click="Four.togglePassword()" />

                        <br>

                        <div uib-tooltip="Password must contain at least one of each of the following:
                                    lower-case letter [a-z],
                                    upper-case letter [A-Z],
                                    number [0-9],
                                    special character (such as '@', '£', '#', '%', '&', etc.).
                                    Password must also be between 8-20 characters long"
                             tooltip-enable="!passwordForm.$valid">
                            <button type="submit" id="submit"
                                    class="btn btn-success"
                                    ng-disabled="!passwordForm.$valid ||
                                                    Four.password !== Four.password_c ||
                                                    Four.nameInPassword()">Submit</button>
                        </div>
                        <div ng-show="Four.nameInPassword()">
                            <p>You mustn't use your name in your password!</p>
                        </div>
                    </form>

                </div>

                <br>

                <div ng-show="Four.partOneCompleted()">
                    <uib-alert ng-repeat="alert in Four.alerts" type="{{alert.type}}"
                               close="closeAlert($index)">{{alert.msg}}</uib-alert>
                </div>
            </div>

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 right-buttons">
            <button class="btn btn-info" id="tip"
                    ng-click="Four.tip()"
                    ng-show="Four.partOneCompleted()">Tip</button>
            <button class="btn btn-default" id="continue"
                    ng-click="Four.continue()"
                    data-ng-disabled="Four.continueDisabled">{{Four.buttonLabel}}</button>
        </div>
    </div>
</div>