<div class="row" ng-controller="LevelCtrl">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <a href="#" class="btn btn-default" id="menu-toggle"
           ng-click="toggleSidebar()">Toggle Sidebar</a>
        <a href="#/level1" class="btn btn-default" id="start">
            Start!
        </a>
        <div ng-controller="NameInputCtrl">
            <div ui-view></div>

            <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
        </div>
    </div>
    <div class="clearfix visible-xs-block visible-sm-block"></div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 speech-bubble text-center">
        <h2>Hello, my name is Wally!</h2>
        <a href="#" class="btn btn-default" id="name-form">
            What's your name?
        </a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <img src="http://images.clipshrine.com/download/downloadsvg/man-explaining-presenting-13888-svg.svg"
             class="fit-image">

    </div>
</div>